body {
    background-color: rgba(0,0,0,0.96);
    overflow: hidden;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
}
.hidden {
    opacity: 0;
    transition: all 1s;
}
.show {
    opacity: 1;
}