#about-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #0f4539;
}
#about-container h2 {
    font-size: calc(14px + 2vmin);
    color: whitesmoke;
}
#about-container p {
    width: 50%;
    font-size: calc(7px + 2vmin);
    margin-top: -15px;
    color: #EDEADE;
}